<div class='row'>
  <div class='span8 well'>
    <p> <%= comment.body %> </p>
    <p>
      <span class='quiet'>
        by <%= (comment.creator.nil? ? "Anonymous" : comment.creator) %>
      </span>
      <small> at <%= comment.created_at %> </small>
    </p>
  </div>
</div>
