<!-- Requires being passed variables that can have values or be nil.
     (post = @post || nil) and (title = "" or nil)
-->
<p class='lead'>
  <%= (link.nil? ? title : (link_to title, link)) %>
  <%= (title2.nil? ? "" : " >> " ) %>
  <%= (title2.nil? ? "" : title2 ) %>
  <hr/>
</p>

